{% extends 'base.html' %}

{% block content %}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart_items %}
            <tr>
                <td>
                    {% if item.pet_id %}
                    {{ item.pet_id.name }}
                    {% elif item.product_id %}
                    {{ item.product_id.product_name}}
                    {% endif %}
                   
                </td>
                <td>
                    {{ item.quantity }}
                </td>
                <td>
                    {% if item.pet_id %}
                    {{ item.pet_id.price }}
                    {% elif item.product_id %}
                    {{ item.product_id.price}}
                    {% endif %}
                </td>
                <td>
                    <form action="{% url 'remove_from_cart' item.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Remove</button>
                    </form>
                </td>
                <td>
                    <form action="{% url 'create_order' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Proceed to Checkout</button>
                    </form>
                </td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
{% endblock %}